<form action="/questions/edit" method="post">
    <textarea name="question" placeholder="Question"><%= @question.question %></textarea>
    <input type="text" name="answer" value="<%= @question.answer %>" placeholder="Answer">
    <input type="text" name="flag" value="<%= @question.flag %>" placeholder="Flag">
    <input type="submit" value="Save">
</form>
<style>
    form {
        background-color: red;
    }
</style>