<html>
    <head>
        <style>
            h1 { color: black; }
            form {
                background-color: green;
            }
            .footer {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Countries Game</h1>
        <%= yield %>
        <div class="footer">
            Copyright 2019
        </div>
    </body>
</html>