<html>
    <body>
        <a href="/questions/new">New</a>
        <% @questions.each do |q| %>
            <div>
                <a href="/questions/edit?id=<%= q.id %>">Edit</a>
                <%= q.question %>
                <%= q.answer %>
                <img height="100" src="<%= q.flag %>">
            </div>
        <% end %>
    </body>
</html>